.carousel-item {
  height: 400px;
}
.carousel-item img {
  object-fit: contain;
  height: 100%;
  width: auto;
  margin: auto;
}

.carousel-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  position: absolute;
  top: 50%;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(238, 83, 109);
  border-radius: 50%;
  padding: 16px;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: rgb(243, 73, 17);
}
